*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid red;
}

.container.page {
  background-color: white;
}

section {
  border: 1px solid rgb(241, 234, 19);
  max-width: 700px;
  margin: 0 auto;
}

.row {
  border: 1px solid green;
  padding: 0 30px;
  margin: 0 auto;
}

div {
  border: 1px solid rgb(88, 60, 243);
}

/* ORDER-BOOKING */

.order-booking-section {
  margin-top: 30px;
}

.switch-buttons {
  margin-top: 60px;
}

.order-btn, .booking-btn {
  flex: 1;
  margin: 0 2px;
  
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 5px;
    }
}

.opening-hours {
  flex: 1;
  height: 100px;
  margin-top: 3px;
  padding: 20px;
  text-align: center;
  background-color: rgb(250, 67, 97);
  border-radius: 5px;
  line-height: 1.2;
  color: white;

    h4 {
      font-weight: 600;
    }

    p {
      font-weight: 400;
    }
}

/* CAROUSEL */

.carousel-section {
  padding-top: 90px;
}

.carousel-inner {
  height: 280px;
  position: relative;
}

.image-box {
  position: absolute;
  width: 200px;
  height: 200px;
    
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
}

.caption {
  height: 200px;
  margin-left: 230px;
  padding: 5% 0;
  
    p {
      font-size: .8rem; 
    }
}

.dots li {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 15px 0 0;
  opacity: .2;
}

.dots li.active {
  opacity: .8;
  background-color: black;
}

/* PHOTO GALLERY */

.gallery-section {
  padding-top: 60px;

    a {
      color: red;
      margin: 30px 0 70px;
      text-decoration: underline;
    }
}

.first-row, .second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.photo-box {
  width: 191px;
  height: 191px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
}

